<header>
  <div class="header-content">
    <a href="/orders" class="logo-link"> <!-- ТОЧНО КАК В МЕТОДИКЕ -->
      <img src="img/logo.png" alt="BMSTU Logo" class="header-logo">
    </a>
    <h1>BMSTU Application</h1>
  </div>
  <hr>
</header>