<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <main>
    {{> header }} <!-- Подключаем шапку -->
    <h1>Hello {{ name }} students!</h1>
    <h2>Wellcome to main {{ name }} page!</h2>
    
    <!-- Форма поиска ТОЧНО КАК В МЕТОДИКЕ -->
    <form action="/orders" method="POST">
      <input type="text" name="query" placeholder="Введите запрос" value="{{data.query}}">
      <button type="submit">Найти</button>
    </form>
    
    {{> menu}}   <!-- Подключаем меню -->
  </main>
</body>
</html>