body {
    font-family: Arial, sans-serif;
    background-color: #f5f6f7;
    color: #222;
    margin: 40px; /* В МЕТОДИКЕ 40px */
  }
  
  h1 {
    color: #004aad;
  }
  
  .order-text {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
  }

  .header-logo {
    height: 120px; /* В МЕТОДИКЕ 120px */
    width: auto;
    cursor: pointer;
  }